#card {
  height: 370px;
  width: 275px;
  border-radius: 40px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#card h3 {
  font-size: 20px;
  width: 200px;
  text-align: center;
  color: white;
}
