.map-list {
  width: 500px;
  padding: 30px;
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.map-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.map-info h3 {
  margin: 0;
}

.map-location {
  display: flex;
  align-items: center;
  gap: 6px;
}

.map-location img {
  width: 14px;
  height: 14px;
}

.map-location p {
  font-size: 20px;
  margin: 0;
}

.map-day {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}

@media (max-width: 600px) {
  .map-list {
    width: 250px;
    padding: 16px;
  }

  .map-info {
    font-size: 12px;
  }

  .map-location p {
    font-size: 12px;
    margin: 0;
  }
}
