body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#card-section {
  width: 100%;
  padding: 100px 0;
  margin: 0 auto;
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-direction: row;
  background-color: #d8e4e9;
}
